{% extends "base.html.twig" %}

{% block body %}
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 h-full w-full">
      <twig:Card title="Retards journaliers">
         <div {{svelte_component('DelayChart', {'siteId': 425, 'beginTs': 1631232000, 'endTs': 1631985872})}}></div>
      </twig:Card>
      <twig:Card title="Prise de courses">
         <div {{svelte_component('Runs', {'siteId': 425, 'beginTs': 1631232000})}}></div>
      </twig:Card>
      <twig:Card title="Comptage des voyageurs">
         <div {{svelte_component('Sales', {'siteId': 425, 'beginTs': 163123200})}}></div>
      </twig:Card>
      <twig:Card title="Materiel Connecté" link="/resources/box">
         <div {{svelte_component('ConnectedBoxes', {'siteId': 425, 'disconnectedFactor': 2})}}></div>
      </twig:Card>
   </div>
{% endblock %}