{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<twig:Card title="Retards journaliers">
				<div {{svelte_component('DelayChart', {'siteId': 425, 'beginTs': 1631232000, 'endTs': 1631985872} )}}></div>
			</twig:Card>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<twig:Card title="Prise de courses">
				<div {{svelte_component('Runs',{'siteId':425,'beginTs':1631232000})}}></div>
			</twig:Card>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<twig:Card title="Comptage des voyageurs">
				<div {{svelte_component('Sales',{'siteId':425,'beginTs':163123200})}}></div>
			</twig:Card>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<twig:Card title="Materiel Connecté" link="/resources/box">
				<div {{svelte_component('ConnectedBoxes',{'siteId':425,'disconnectedFactor':2})}}></div>
			</twig:Card>
		</div>
	</div>
{% endblock %}
