            <a href="{{link}}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
        {% block lead %} {% endblock %}
               <span class="flex-1 ml-3 whitespace-nowrap">{{text}}</span>
        {% block trail %} {% endblock %}
            </a>